.login {
    .title {
        font-weight: bold;
        color: brown;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .buttons {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}