.popup {
  .container {
    margin: auto;
    background: black;
    width: 50%;
    padding: 5px;
  
    .link {
        width: max-content;
        font-size: 12px;
        border-bottom: 1px solid gray;
      }
    
    .table {
        .cellWrapper {
          display: flex;
          align-items: center;
          max-width: max-content;
          background-color: aquamarine;
        }
      
        .status {
          padding: 5px;
          border-radius: 5px;
      
          &.Expire {
            color: black;
            background-color: rgb(67, 66, 66, 0.151);
          }
          &.Approved {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
          }
          &.Cancelled {
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.11);
          }
          &.CHECKEDOUT {
            color: teal;
            background-color: rgb(34, 163, 159, 0.105);
          }
          &.CHECKEDIN {
            color: orange;
            background-color: rgb(239, 154, 83, 0.15);
          }
      
          &.Rejected {
            color: red;
            background-color: rgb(255, 30, 30, 0.155);
          }
          &.AutoApproved {
            color: teal;
            background-color: rgb(34, 163, 159, 0.105);
          }
        }
      }
    }
}