.reportwidget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;



  .title {
    font-weight: bold;
    font-size: 20px;
    color: rgb(160, 160, 160);
  }

  .e-input {
    // flex: 1;
    padding-left: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 30px;
  }

  .link {
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
  }

  .button {
    font-size: 18px;
    background: brown;
    color: "green";
    padding: 5px;
    border-radius: 10px;
    align-self: flex-end;
  }

  .Dropdown {
    border-radius: 10px;
  }
}
