#name,
#user_id,
#email,
#role,
#group_setting1,
#group_setting2,
#hostel,
#room_number,
#contact_number,
#parents_contact_number {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#name-label,
#user_id-label,
#email-label,
#role-label,
#group_setting1-label,
#group_setting2-label,
#hostel-label,
#room_number-label,
#contact_number-label,
#parents_contact_number-label {
  margin-top: 12px;
  display: block;
}

#update-button {
  background-color: #4caf50;
  color: white;
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#update-button:hover {
  background-color: #45a049;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 50%;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    padding-bottom: 0;
  }
}
.title{
  font-size: 30px;
}
