.table1 {
  margin-top: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.table1 tbody tr {
    border: 1px solid #ccc;
}

.table1 td {
    border: 1px solid #ccc;
}
.table1 th {
  background-color: brown;
  color: white;
  border: 1px solid #ccc;
}
.buttonCSS {
  color: brown;
}

.buttonCSS:hover {
  color: rgb(190, 67, 67);
  cursor: pointer;
}

#buttonhandler {
  display: flex;
 margin-left: 40px;

}

.TableShaper {
    width: 50%;


}
#showless {
    margin-left: 70%;
}

.ContentShaper{
   display: flex;
   width: 100%;
   height: fit-content;
   text-align: center;
 
  
}

.AddDetails{
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    width: 50%;
    padding-bottom: 10px;
    margin-right: 20px;
    height: fit-content;
    border: 1px solid #ccc;
    
}
.label{
    margin-top: 20px;
    color: brown;
    margin-bottom: 10px;
}
.option{
    width: 50%;
    background-color: brown;
    margin-right: 20px;
}
.handleBulkUpload{
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
    
}
h5{
    background-color: brown;
    color: white;
    
}
.button{
    background-color: brown;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    width: fit-content;
    
}

#searchbar{
    margin-left: 4%; 
    margin-top: 4%;
    padding: 3px;
   
    outline: none;
    background-image: url('https://cdn-icons-png.flaticon.com/512/482/482631.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 1px solid black;}


    /* Popup style */
.popup-box {
      position: fixed;
      background: #00000050;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
    }
     
.box {
      position: relative;
      width: 70%;
      margin: 0 auto;
      height: auto;
      max-height: 70vh;
      margin-top: calc(100vh - 85vh - 20px);
      background: #fff;
      border-radius: 4px;
      padding: 20px;
      border: 1px solid #999;
      overflow: auto;
    }

// .modalOverlay {
//   position: "fixed";
//         top: 100%;
//         left: 0%;
        
//         right: 0;
//         bottom: 0;
//         // backgroundColor: rgba(128, 128, 128,0.5);
// }

// .modalContainer {
//        position: "absolute";
//         top: "450px";
//         left: "350px";
//         right: "350px";
//         bottom: "150px";
//         border: "1px solid #ccc";
//         background: "#fff";
//         overflow: "auto";
//         // WebkitOverflowScrolling: "touch";
//         // borderRadius: "4px";
//         outline: "none";
//         padding: "20px";
// }
// .modalContainer {
//   // background-color: aqua;
//     // overlay{
//     //     position: "fixed";
//     //     top: 100%;
//     //     left: 0%;
        
//     //     right: 0;
//     //     bottom: 0;
//     //     // backgroundColor: rgba(128, 128, 128,0.5);

//     //   }
//     // content{
//     //     position: "absolute";
//     //     top: "450px";
//     //     left: "350px";
//     //     right: "350px";
//     //     bottom: "150px";
//     //     border: "1px solid #ccc";
//     //     background: "#fff";
//     //     overflow: "auto";
//     //     WebkitOverflowScrolling: "touch";
//     //     borderRadius: "4px";
//     //     outline: "none";
//     //     padding: "20px";
//     //   }
//       }

.Modal {
  position: absolute;
  top: 150px;
  left: 350px;
  right: 350px;
  bottom: 150px;
  background-color: white;
  padding: 5%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(128, 128, 128,0.5) ;
 
}