#heading {
    color: white;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 20px;
    width: 100%;
    text-align: center;
  }
.Align{
    display:flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#add{
margin-left: 10px;
width: 30px;
height: 30px;
font-size: 16px;
font-weight: bold;
background-color: brown;
border: none;
color: white;
}
.GroupDesign{
    margin: 20px;
}
.search3{
    margin-top: 20px;
    width:100%;
    align-items:center;
    justify-content: center;
    
    text-align: center;

}
#search1{
    width:80%;
}
.GroupDesign{
    border: 1px solid #85151C;
    width: 100%;
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.MultyGroupDesign{
    display: flex;
    
}
.table1 {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    width: 85%;
    margin-bottom: 20px;
  }

  .table1 tbody tr {
    border: 1px solid #ccc;
  }

  .table1 td,th {
    border-right: 1px solid #ccc;
    
  }
  .modify {
    border: none;
    height: 20px;
    text-align: center;
    background-color: brown;
    font-size: 10px;
    color: white;
    border-radius: 7px;
    transition: 0.4s ease-in-out;
  }
  
  .modify:hover {
    background-color: white;
    border: 1px solid brown;
    color: brown;
  }
  .eventShow{
    color: brown;
    font-size: 12px;
    margin-left:80%;
  }
  .eventShow:hover{
    cursor: pointer;
  }