.table {
    .cellWrapper {
      display: flex;
      align-items: center;
  
      .image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
      }
    }
  
    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Expire {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      &.Cancelled {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
    }

    .e-input {
      // flex: 1;
      padding-left: 10px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border-radius: 10px;
      height: 30px;
    }

    #title{
      font-weight: bold;
    }

    #button2{
      background-color: rgba(35, 158, 59, 0.814);
      border: 1px solid black;
      border-radius: 2px;
      color: white;
      
    }
    #button2:hover{
      background-color: rgb(38, 154, 6);
      border: 1px solid black;
      border-radius: 2px;
      color: white;
    }

}