.EmergencyGPform {
  flex: inline-flex;
  width: 30rem;
  margin-top: 20px;
  justify-content: space-between;

  .form {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: fit-content;
    flex-direction: column;

    .common {
      // flex: 1;
      margin: 5px 0px;
      padding-left: 10px;
      border-radius: 10px;
      height: 30px;

      .label {
        font-size: 18px;
        color: rgb(160, 160, 160);
        width: 12rem;
      }

      .dropdown {
        display: inline-flex;
        .ReactDropdown {
          border-radius: 10px;
        }
      }
    }

    .button {
      font-size: 18px;
      background: brown;
      color: white;
      padding: 5px;
      border-radius: 10px;
    }
  }
}
